.vscode/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Virtual Environments
venv/
.venv/
env/
ENV/

# Code Editor Configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp